@import '../../../styles/variables';
@import '../../../styles/mixins';

.primary {
  background-color: $yellow500;
  color: $blue500;

  &:hover, &:focus {
    background-color: $yellow700;
  }
}

.gray {
  background-color: $darkGrayishBlue800;
  color: $blue500;

  &:hover, &:focus {
    background-color: $darkGrayishBlue900;
  }
}

.button {
  padding: 1rem;

  border-radius: 5px;
  border: none;

  appearance: button;
  text-decoration: none;
  cursor: pointer;

  @include font-family(Prelo W01 Semi Bold);
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  font-kerning: normal;
}
