@use 'sass:map';
@import '../../../../styles/variables';

.paginationBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;

  @media (max-width: map.get($breakpoints, 'sm')) {
    flex-direction: column;
  }
}
