@use 'sass:map';
@import '../../../styles/variables';

.box {
  display: block;
  padding: 2rem;
  border-radius: 5px;
  background-color: $white;

  @media (max-width: map.get($breakpoints, 'sm')) {
    padding: 2rem 0;
  }
}
