@import '../../../../styles/variables';

.boxWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  padding: 2rem;
  border-radius: 5px;
  background-color: $white;
  max-width: 1000px;
  flex: 1;
}

.title {
  text-align: center;
  margin: 0 0 1rem 0;
  padding: 0 0 2rem 0;
  border-bottom: 1px solid $black;
}
